<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>study_13_Filter</display-name>
  <!-- 配置过滤器 -->
  <filter>
  	<filter-name>myFilter</filter-name>
  	<filter-class>com.xujinshan.filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>myFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 配置第二个过滤器 -->
  <filter>
  	<filter-name>myFilter02</filter-name>
  	<filter-class>com.xujinshan.filter.MyFilter02</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>myFilter02</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  <!-- 配置第三个过滤器 -->
  <filter>
  	<filter-name>myFilter03</filter-name>
  	<filter-class>com.xujinshan.filter.MyFilter03</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>myFilter03</filter-name>
  	<url-pattern>/ts.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.xujinshan.servlet.TestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/ts.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>